  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

        html, body {
            width: 100%;
            height:100%;
                    }

                    .full-width-video {
                        width: 100%;
                        aspect-ratio: 1280 / 960; /* width and height of the mobile video */
                        background-color: black; /* to show pre-allocated space */
                      }
                      /* override for desktop */
                      @media only screen and (min-width: 480px) {
                        .full-width-video {
                          aspect-ratio: 1280 / 480;
                        }
                      }
                      .width-display {
                        font-size: 50%;
                        position: absolute;
                        right: 1em;
                        display: block;
                        top: 1em;
                      }


        .context {
            width: 100%;
            position: absolute;
            top:40vh;
            color: #ffffff;
            padding: 1em;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
                }

        .context h1{
            text-align: center;
            color: #fff;
            font-size: 50px;
                }